@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins' , sans-serif;
}

.header 
{
    position: fixed;
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 100px;
    z-index: 99;
    background: transparent;
}
.header .nav a
{
    text-decoration: none;
    color: #fff;
    font-size: 17px;
    margin-left: 20px;
    font-weight: 600;
}
.header .search input
{
    background: transparent;
    font-size: 20px;
    border-radius: 5px;
    border: 2px solid white;
    padding-left: 10px;
    right: 100px;
    outline: none;
    color: #fff;
}